<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10">
	<listeners>
<listener class-name="com.qa.generic.ProjectListeners"/>
</listeners>
  <test thread-count="5" name="Test">
	  <parameter name= "browser" value="chrome"/>
    <classes>
      <class name="com.qa.testScripts.SelectClinic"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
